# Server Port
PORT=3000

# AWS Configuration
REGION=ap-southeast-1
S3_BUCKET_NAME=tuantm-assets-bucket
AWS_ACCESS_KEY_ID=AKIASPBU7FJNXMHQGZCF
AWS_SECRET_ACCESS_KEY=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
AWS_SESSION_TOKEN=

# AWS SES Configuration
SES_SENDER_EMAIL=devblue404@gmail.com

# AWS Cognito Configuration
COGNITO_USER_POOL_ID=ap-southeast-1_UKuhhnlCk
COGNITO_CLIENT_ID=2g6fhbqqkt805nl5g0aicmgp0n

# MySQL / RDS Configuration
DB_HOST=event-rsvp-db.cbk8o66qqs9c.ap-southeast-1.rds.amazonaws.com
DB_USER=admin
DB_PASS=admin123
DB_NAME=eventsdb
